@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    @apply w-screen h-screen overflow-hidden;
    color: #fdfdfd;
    background-color: #0b0b0b;
}

main {
    @apply w-screen h-screen overflow-y-auto;
}

.container {
    @apply flex flex-col mx-auto max-w-screen-lg gap-4 overflow-y-hidden overflow-x-auto;
}

section {
    @apply z-0;
}

h1 {
    @apply text-5xl font-bold;
}

#bg-video {
    @apply absolute top-0 left-0 w-full h-full object-cover -z-50;
}

.logo-container {
    @apply flex flex-col items-center mx-auto pt-10;
    width: 405px;
}

.pyconus-logo {
    width: 190px;
}

.a-button {
    @apply inline-flex items-center gap-2 px-4 py-2 text-white bg-blue-500 rounded-md;
}

.btn {
    @apply inline-flex items-center gap-2 px-4 py-2 text-white bg-blue-500 rounded-md;
}

.btn:disabled {
    @apply opacity-90 cursor-not-allowed;
}