<script defer type="application/javascript">

    document.addEventListener('alpine:init', () => {

        Alpine.data('proposals_in_prep', () => ({

            total_in_pnsr_recount: '{{ prep_not_sent_reminder }}',
            submit_reminder_button_text: 'Send Submit Reminder Email',

            send_submit_reminder() {
                this.submit_reminder_button_text = 'Sending reminders...';
                fetch('{{ url_for('staff_only.proposals.api_send_submit_reminder') }}',).then(
                    response => response.json()).then(
                    data => {
                        console.log(data)
                        if (data.status === 'success') {
                            if (data.total_in_pnsr_recount === 0) {
                                this.submit_reminder_button_text = 'No Reminders to Send!';
                            } else {
                                this.submit_reminder_button_text = 'Reminders Sent!';
                            }

                            this.total_in_pnsr_recount = `${data.total_in_pnsr_recount}`;

                            setTimeout(() => {
                                this.submit_reminder_button_text = 'Send Submit Reminder Email';
                            }, 2000);
                        }
                    })
            },

        }));

    })

</script>
