{% extends 'conf_2025/extends/base.html' %}

{% block head %}
    <title>FlaskCon 2023</title>
{% endblock %}

{% block js_overwrite %}
{% endblock %}

{% block main_overwrite %}
    <div class="full-page-hero">
        <img src="{{ url_for("static", filename="flaskcon-logo.svg") }}"
             alt="FlaskCon Logo" style="max-width: 200px;">
        <h1>Coming Soon!</h1>
        <p>Check back here soon for more information.</p>
    </div>
{% endblock %}

{% block footer_overwrite %}
{% endblock %}
