{% extends 'conf_2024/extends/base.html' %}

{% block head %}
    <title>FlaskCon 2023</title>
{% endblock %}

{% block js_overwrite %}
{% endblock %}

{% block main_overwrite %}
    <div class="full-page-hero">
        <img src="{{ url_for("static", filename="flaskcon-logo.svg") }}"
             alt="FlaskCon Logo" style="max-width: 200px;">
        <h1>FlaskCon 2024 will be happening Friday, May 17 inside PyCon US 2024.</h1>
        <p>Check back here soon for more information and to submit your talk idea.</p>
    </div>
{% endblock %}

{% block footer_overwrite %}
{% endblock %}
