<!DOCTYPE html>
<html lang="en">

<head>
    <title>FlaskCon 2024</title>
    <meta name="robots" content="index,follow">
    <meta name="googlebot" content="index,follow">
    <meta charset="utf-8">
    <meta name="google" content="nositelinkssearchbox">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="referrer" content="no-referrer">
    <meta name="format-detection" content="telephone=no">
    <meta name="msapplication-TileColor" content="#1aa3b8">
    <meta name="theme-color" content="#1aa3b8">
    <meta name="description" content="FlaskCon 2024">
    <meta name="subject" content="A conference for the users of Flask.">
    <meta name="rating" content="general">
    <meta name="pinterest" content="nopin">
    <link rel="apple-touch-icon" sizes="120x120"
          href="{{ url_for("conf_2024.static", filename="apple-touch-icon.png") }}">
    <link rel="icon" type="image/png" sizes="32x32"
          href="{{ url_for("conf_2024.static", filename="favicon-32x32.png") }}">
    <link rel="icon" type="image/png" sizes="16x16"
          href="{{ url_for("conf_2024.static", filename="favicon-16x16.png") }}">
    <link rel="manifest" href="{{ url_for("conf_2024.static", filename="site.webmanifest") }}">
    <link rel="mask-icon" href="{{ url_for("conf_2024.static", filename="safari-pinned-tab.svg") }}"
          color="#1aa3b8">

    {{ vt_head('frontend_2024') }}

    <script>
    </script>
</head>

<body>
{{ vt_body() }}
</body>