<!doctype html>

<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}{% endblock %} | FlaskCon</title>

    <link rel="apple-touch-icon" sizes="120x120" href="{{ url_for("static", filename="apple-touch-icon.png") }}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ url_for("static", filename="favicon-32x32.png") }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ url_for("static", filename="favicon-16x16.png") }}">
    <link rel="manifest" href="{{ url_for("static", filename="site.webmanifest") }}">
    <link rel="mask-icon" href="{{ url_for("static", filename="safari-pinned-tab.svg") }}" color="#1aa3b8">
    <meta name="msapplication-TileColor" content="#1aa3b8">
    <meta name="theme-color" content="#1aa3b8">

    <link rel="stylesheet" href="{{ url_for('static', filename='skeleton.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='flaskcon.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='spacing.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='typography.css') }}">
    <script defer src="{{ url_for('static', filename='alpinejs.3.13.0.js') }}"></script>
</head>

<body x-data="{}">

    {% if get_flashed_messages() %}
    <div x-data="{ showMessage: true, countdown: 5 }" x-init="function() {
        setInterval(function() {
            if (this.countdown > 0) {
                this.countdown -= 1;
            } else {
                this.showMessage = false;
            }
        }.bind(this), 1000);
    }">
        <div class="flash-message" x-show="showMessage" @click="showMessage = false">
            {% for message in get_flashed_messages() %}
                <div class="flash-message-item">{{ message }}</div>
            {% endfor %}
            <small>
                Click to close | Autoclose in <span x-text="countdown"></span>s
            </small>
        </div>
    </div>
{% endif %}


<div class="auth-fc-container">
    <a href="/">
        <img width="150" src="{{ url_for('static', filename='flaskcon-logo.svg') }}" alt="FlaskCon Logo">
    </a>
    {% block content %}
    {% endblock %}

</div>

{% block js %}
{% endblock %}
</body>

</html>
