<!doctype html>

<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}{% endblock %} | FlaskCon</title>

    <link rel="apple-touch-icon" sizes="120x120" href="{{ url_for("static", filename="apple-touch-icon.png") }}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ url_for("static", filename="favicon-32x32.png") }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ url_for("static", filename="favicon-16x16.png") }}">
    <link rel="manifest" href="{{ url_for("static", filename="site.webmanifest") }}">
    <link rel="mask-icon" href="{{ url_for("static", filename="safari-pinned-tab.svg") }}" color="#1aa3b8">
    <meta name="msapplication-TileColor" content="#1aa3b8">
    <meta name="theme-color" content="#1aa3b8">

    <link rel="stylesheet" href="{{ url_for('static', filename='skeleton.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='flaskcon.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='typography.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='spacing.css') }}">
    <script defer src="{{ url_for('static', filename='alpinejs.3.13.0.js') }}"></script>

    {% set __account__ = ctp_account(session.get('account_id')) %}
    {% set __roles__ =  ctp_comprehend_roles(__account__.rel_roles) %}
    {% set __is_staff__ =  False %}

</head>

<body x-data="backend">

<a id="top"></a>


{% if get_flashed_messages() %}
    <div x-data="{ showMessage: true, countdown: 5 }" x-init="function() {
        setInterval(function() {
            if (this.countdown > 0) {
                this.countdown -= 1;
            } else {
                this.showMessage = false;
            }
        }.bind(this), 1000);
    }">
        <div class="flash-message" x-show="showMessage" @click="showMessage = false">
            {% for message in get_flashed_messages() %}
                <div class="flash-message-item">{{ message }}</div>
            {% endfor %}
            <small>
                Click to close | Autoclose in <span x-text="countdown"></span>s
            </small>
        </div>
    </div>
{% endif %}


<header class="fc-header">
    <nav class="top-nav">
        <div class="flex justify-center align-items-center gap-1">
            <div x-cloak x-show="$store.backend_store.show_side_menu">
                <button @click="$store.backend_store.show_side_menu_false()"
                        class="m-all-0 p-all-0 p-left-right-1 flex align-items-center">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                         stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                         class="feather feather-chevron-left">
                        <polyline points="15 18 9 12 15 6"></polyline>
                    </svg>
                </button>
            </div>
            <div x-cloak x-show="!$store.backend_store.show_side_menu">
                <button @click="$store.backend_store.show_side_menu_true()"
                        class="m-all-0 p-all-0 p-left-right-1 flex align-items-center">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                         stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                         class="feather feather-chevron-right">
                        <polyline points="9 18 15 12 9 6"></polyline>
                    </svg>
                </button>
            </div>
            <h3 class="m-all-0">{{ self.title() }}</h3>
        </div>
        <a href="/" class="flex align-items-center p-left-right-1">
            <img width="100px" src="{{ url_for('static', filename='flaskcon-logo.svg') }}" alt="">
        </a>
    </nav>
</header>

<div class="fc-container">
    <aside :class="$store.backend_store.show_side_menu ? 'backend-menu-show' : 'backend-menu-hide'">

        <div class="accountlet">
            <img width="200"
                 src="{{ url_for('static', filename='display-pictures/' + ctp_display_picture(session.get('unique_display_picture_id', 1))) }}"
                 alt="">
            <p>{{ __account__.rel_profile.name_or_alias or __account__.email_address.split('@')[0] }}</p>
            <div><a href="{{ url_for('account.settings') }}">Settings</a></div>
            <div><a href="{{ url_for('auth.logout') }}">Logout</a></div>

        </div>

        <nav class="side-nav">

            <ul>
                {% if "Attendee" in __roles__ %}
                    <li><a href="{{ url_for('account.update_feed') }}"
                           {% if 'account/update-feed' in request.url %}class="selected"{% endif %}>
                        Update Feed</a></li>
                {% endif %}
                <li><a href="{{ url_for('account.profile') }}"
                       {% if 'account/profile' in request.url %}class="selected"{% endif %}>
                    Your Profile</a></li>
                {% if "Attendee" in __roles__ %}
                    <li><a href="{{ url_for('account.proposals') }}"
                           {% if 'account/proposal' in request.url %}class="selected"{% endif %}>
                        Your Proposals</a></li>
                {% endif %}
            </ul>

            <p class="m-up-3" x-cloak x-show="staff_only_header"><strong>Staff Only</strong></p>

            <ul>
                {% if "Proposal Reviewer" in __roles__ %}
                    <li x-init="set_staff_only_header_true()">
                        <a href="{{ url_for('staff_only.proposals.dashboard') }}"
                           {% if 'staff-only/proposals' in request.url %}class="selected"{% endif %}>
                            Proposals</a>
                    </li>
                {% endif %}
                {% if
                "Super Administrator" in __roles__ or
                "Administrator" in __roles__ or
                "Conference Chair" in __roles__ or
                "Grants Chair" in __roles__ or
                "Volunteer Chair" in __roles__ or
                "Sprints Chair" in __roles__ or
                "Speaker Support Chair" in __roles__ or
                "Sponsorship Chair" in __roles__ %}
                    <li x-init="set_staff_only_header_true()">
                        <a href="{{ url_for('staff_only.conferences.index') }}"
                           {% if 'staff-only/conferences' in request.url %}class="selected"{% endif %}>
                            Conferences</a>
                    </li>
                    <li>
                        <a href="{{ url_for('staff_only.media_partners.index') }}"
                           {% if 'staff-only/media-partners' in request.url %}class="selected"{% endif %}>
                            Media Partners</a>
                    </li>
                    <li>
                        <a href="{{ url_for('staff_only.sponsors.index') }}"
                           {% if 'staff-only/sponsors' in request.url %}class="selected"{% endif %}>
                            Sponsors</a>
                    </li>
                {% endif %}
                {% if "Super Administrator" in __roles__ or "Administrator" in __roles__ %}
                    <li x-init="set_staff_only_header_true()">
                        <a href="{{ url_for('staff_only.system.dashboard') }}"
                           {% if 'staff-only/system' in request.url %}class="selected"{% endif %}>
                            System</a>
                    </li>
                {% endif %}
            </ul>

        </nav>

        <div class="product-info">

        </div>

    </aside>

    <div
            class="dummy-side-nav"
            x-cloak
            x-show="!$store.backend_store.mobile_view"
            :class="$store.backend_store.show_side_menu ? 'backend-menu-show' : 'backend-menu-hide'"
    >
    </div>

    <section class="content">
        <div class="breadcrumbs">
            {% block breadcrumbs %}{% endblock %}
        </div>

        <section>
            <div class="center-content">
                {% block content %}

                {% endblock %}
            </div>
        </section>
    </section>

</div>

{% include 'global/js/backend-x-data.html' %}
{% block js %}
{% endblock %}
</body>

</html>
