{% extends 'global/extends/backend.html' %}

{% block title %}
    Proposals Dashboard
{% endblock %}


{% block breadcrumbs %}
    {{ breadcrumber([
    ("Proposals Dashboard", None)
    ]) }}
{% endblock %}


{% block content %}
    <div class="content-box">
        <div class="flex flex-row flex-wrap justify-evenly m-down-2">
            <div class="dashboard-status-box flex-1">
                <h1>To Be Reviewed</h1>
                <h2>{{ total_for_review }}</h2>
                <a href="{{ url_for('staff_only.proposals.review') }}" class="button m-down-0">View</a>
            </div>
            <div class="dashboard-status-box flex-1">
                <h1>Accepted</h1>
                <h2>{{ total_accepted }}</h2>
                <a href="{{ url_for('staff_only.proposals.accepted') }}" class="button m-down-0">View</a>
            </div>
            <div class="dashboard-status-box flex-1">
                <h1>Waitlisted</h1>
                <h2>{{ total_waitlisted }}</h2>
                <a href="{{ url_for('staff_only.proposals.waitlisted') }}" class="button m-down-0">View</a>
            </div>
            <div class="dashboard-status-box flex-1">
                <h1>Rejected</h1>
                <h2>{{ total_rejected }}</h2>
                <a href="{{ url_for('staff_only.proposals.rejected') }}" class="button m-down-0">View</a>
            </div>
        </div>

        <div class="flex flex-row flex-wrap justify-evenly m-down-2">
            <div class="dashboard-status-box flex-1">
                <h1>Total Proposals</h1>
                <h2>{{ total_proposals }}</h2>
            </div>
            <div class="dashboard-status-box flex-1">
                <h1>Total Votes Cast</h1>
                <h2>{{ total_votes }}</h2>
            </div>
        </div>
        <div class="flex flex-row flex-wrap justify-evenly">
            <div class="dashboard-status-box flex-1">
                <h1>Total Votes For</h1>
                <h2>{{ total_for_votes }}</h2>
            </div>
            <div class="dashboard-status-box flex-1">
                <h1>Total Votes Against</h1>
                <h2>{{ total_against_votes }}</h2>
            </div>
            <div class="dashboard-status-box flex-1">
                <h1>Total Abstained Votes</h1>
                <h2>{{ total_votes - total_for_votes - total_against_votes }}</h2>
            </div>
        </div>
    </div>
    <div class="content-box m-down-4">
        <label>Leaderboard</label>
        {% if leaderboard %}
            <table>
                <thead>
                <tr>
                    <th>Title</th>
                    <th>Votes For</th>
                    <th>Votes Against</th>
                </tr>
                </thead>
                <tbody>
                {% for proposal in leaderboard %}
                    {% set proposal_id, data = proposal %}
                    <tr>
                        <td>
                            <a href="{{ url_for('staff_only.proposals.review_proposal', proposal_id=proposal_id) }}">
                                {{ data.row.title|truncate(45) }}
                            </a>
                        </td>
                        <td>{{ data['votes_for'] or '-' }}</td>
                        <td>{{ data['votes_against'] or '-' }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        {% else %}
            <p>No Proposals Yet</p>
        {% endif %}
    </div>
{% endblock %}

{% block js %}
{% endblock %}
