{% extends 'global/extends/backend.html' %}

{% block title %}
    Review Proposals
{% endblock %}


{% block breadcrumbs %}
    {{ breadcrumber([("Proposals to Review", url_for('proposals.review')), (talk.title, None)]) }}
{% endblock %}

{% block content %}



    <div class="content-box m-down-4" x-data="review_talk">

        <h2 class="m-down-1">{{ talk.title }}</h2>

        <div>
            <p><strong>Abstract</strong></p>

            {{ talk.abstract|safe or 'No abstract...' }}

        </div>

    </div>
{% endblock %}

{% block js %}
    {% include 'proposals/js/review-talk-x-data.html' %}
{% endblock %}
