<script defer type="application/javascript">

    document.addEventListener('alpine:init', () => {

        Alpine.data('profile', () => ({
            company_name: "{{ __account__.rel_profile[0].company_name }}",
            alias: "{{ __account__.rel_profile[0].alias }}",
            first_name: "{{ __account__.rel_profile[0].first_name }}",
            last_name: "{{ __account__.rel_profile[0].last_name }}",
            pronouns: "{{ __account__.rel_profile[0].pronouns }}",
            bio: "{{ __account__.rel_profile[0].bio }}",
            country: "{{ __account__.rel_profile[0].country }}",
            website: "{{ __account__.rel_profile[0].website }}",

        }));

    })

</script>
