<ul>
    <li><a href="{{ url_for('frontend.2023.become_sponsor') }}"
        target="_blank" >Sponsor us</a></li>
    <li><a href="{{ url_for('frontend.2023.code_of_conduct') }}">Code of Conduct</a></li>
    <li><a href="{{ url_for('frontend.2023.privacy_policy') }}">Privacy Policy</a></li>
    <li><a href="mailto:flaskcon@gmail.com?subject=FlaskCon 2030: ">flaskcon@gmail.com</a></li>
</ul>
<p class="text-center" style="margin-bottom: 0; font-size: 1.4rem;">Copyright &copy; 2023 FlaskCon, A PSF-registered
    trademark owned by Pallets.</p>