{% extends 'global/extends/backend.html' %}

{% block title %}
    Sponsors
{% endblock %}

{% block breadcrumbs %}
    {{ breadcrumber([("Sponsors", None)]) }}
{% endblock %}

{% block content %}
    <div class="content-box m-down-4">
        <table>
            <thead>
            <tr>
                <th>Year</th>
                <th>Level</th>
                <th>Name</th>
                <th>Description</th>
                <th>URL</th>
                <th>Logo</th>
                <th>Contact Info</th>
                <th>Status</th>
                <th>&nbsp;</th>
            </tr>
            </thead>
            <tbody>
            {% for sponsor in sponsors %}
                <tr>
                    <td>{{ sponsor.year }}</td>
                    <td>{{ sponsor.level }}</td>
                    <td>{{ sponsor.name }}</td>
                    <td>{{ sponsor.description }}</td>
                    <td>{{ sponsor.url }}</td>
                    <td>{{ sponsor.logo }}</td>
                    <td>{{ sponsor.contact_information }}</td>
                    <td>
                        {{ 'Possible' if sponsor.possible }}
                        {{ 'Requested' if sponsor.requested }}
                        {{ 'Confirmed' if sponsor.confirmed }}
                        {{ 'Rejected' if sponsor.rejected }}
                    </td>
                    <td>
                        <a href="{{ url_for('staff_only.media_partners.edit', sponsor_id=sponsor.sponsor_id) }}">
                            Edit
                        </a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}

{% block js %}
{% endblock %}
