{% extends 'global/extends/backend.html' %}

{% block title %}
    Conferences
{% endblock %}

{% block breadcrumbs %}
    {{ breadcrumber([("Conferences", None)]) }}
{% endblock %}

{% block content %}
    <div class="content-box m-down-4">

        <div>
            <a class="button button-primary" href="{{ url_for('staff_only.conferences.add') }}">
                New conference</a>
        </div>

        <table>
            <thead>
            <tr>
                <th>Year</th>
                <th>Index Endpoint</th>
                <th>Latest</th>
                <th>CFP Start Date</th>
                <th>CFP End Date</th>
                <th>Conf. Start Date</th>
                <th>Conf. End Date</th>
                <th>&nbsp;</th>
            </tr>
            </thead>
            <tbody>
            {% for conf in conferences %}
                <tr>
                    <td>{{ conf.year }}</td>
                    <td>{{ conf.index_endpoint }}</td>
                    <td>{{ conf.latest }}</td>
                    <td>{{ conf.call_for_proposals_start_date }}</td>
                    <td>{{ conf.call_for_proposals_end_date }}</td>
                    <td>{{ conf.conference_start_date }}</td>
                    <td>{{ conf.conference_end_date }}</td>
                    <td>
                        <a href="{{ url_for('staff_only.conferences.edit', conference_id=conf.conference_id) }}">
                            Edit
                        </a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}

{% block js %}
{% endblock %}
