{% if reviewers %}
    <section class="py-4 reviewers">

        <div class="text-center">
            <img src="{{ url_for("2023.static", filename="img/lectern.gif") }}" alt="Reviewers Icon">
            <h1>This Year's Reviewers</h1>
        </div>

        {% for reviewer in reviewers %}

            <div class="display-flex space-evenly align-items-center gap-3">

                {% if reviewer.display_picture %}
                    <div>
                        <img src="{{ reviewer.display_picture }}" alt="..."/>
                    </div>
                {% else %}
                    <div>
                        <img src="{{ url_for("2023.static", filename="img/default_display_flag.gif") }}"
                             alt="..."/>
                    </div>
                {% endif %}

                <div style="min-width: 0;">
                    <h2>{{ reviewer.name }}</h2>
                    {% if reviewer.bio %}
                        <p>{{ reviewer.bio }}</p>
                    {% endif %}
                </div>

            </div>

        {% endfor %}

    </section>

{% endif %}