<script defer type="application/javascript">

    document.addEventListener('alpine:init', () => {

        Alpine.data('sponsor', () => ({
            possible: true,
            requested: false,
            confirmed: false,
            rejected: false,

            choose_status(status) {
                this.possible = false;
                this.requested = false;
                this.confirmed = false;
                this.rejected = false;

                switch (status) {
                    case 'possible':
                        this.possible = true;
                        break;
                    case 'requested':
                        this.requested = true;
                        break;
                    case 'confirmed':
                        this.confirmed = true;
                        break;
                    case 'rejected':
                        this.rejected = true;
                        break;
                }
            }

        }));

    })

</script>
