{% extends 'global/extends/backend.html' %}

{% block title %}
    Edit Media Partner - {{ media_partner.name }}
{% endblock %}

{% block breadcrumbs %}
    {{ breadcrumber([
    ("Media Partners", url_for("staff_only.media_partners.index")),
    ("Edit", None),
    (media_partner.name, None)
    ]) }}
{% endblock %}

{% block content %}
    <div class="content-box m-down-4">

        <form method="post">

            <button type="submit" class="button-good">Save</button>

            <div class="m-down-1"></div>

            <label for="year">Year</label>
            <input type="number" id="year" name="year" class="w-100" value="{{ media_partner.year }}">

            <label for="name">Name</label>
            <input type="text" id="name" name="name" class="w-100" value="{{ media_partner.name }}">

            <label for="description" class="m-down-0">
                Description
            </label>
            <textarea name="description" id="description">{{ media_partner.description or '' }}</textarea>

            <label for="url">Promo URL</label>
            <input type="text" id="url" name="url" class="w-100" value="{{ media_partner.url }}">

            <label for="logo">Logo URL</label>
            <input type="text" id="logo" name="logo" class="w-100" value="{{ media_partner.logo }}">

            <div class="m-down-3"></div>

            <a href="#top" class="button w-100">Back to Top</a>

        </form>

    </div>
{% endblock %}

{% block js %}
{% endblock %}
