{% extends 'global/extends/backend.html' %}

{% block title %}
    New Proposal
{% endblock %}

{% block breadcrumbs %}
    {{ breadcrumber([("Your Proposals", url_for('account.proposals')), ("New Proposal", None)]) }}
{% endblock %}

{% block content %}

    <div class="content-box m-down-4" x-data="proposal">
        <form method="post">

            <input type="hidden" name="csrf" value="{{ csrf }}">

            {% if able_to_propose %}

                <button
                        type="button"
                        @click="submit_proposal = !submit_proposal"
                        :class="submit_proposal ? 'button-warning' : 'button-primary'"
                >Submit your Proposal
                </button>

                <div x-cloak x-show="submit_proposal">
                    <div class="warning m-down-2">

                        <p class="m-up-down-1">Are you sure you want to submit your proposal? </p>
                        <p class="m-up-1 m-down-2">Your proposal will be sent to the committee
                            for review. You won't be able to edit it after submission.</p>

                        <button type="submit" class="button-good">Submit</button>
                        <button type="button" @click="submit_proposal = false">Cancel</button>
                    </div>
                </div>

            {% else %}

                <button type="button" class="button-disabled">Submit your Proposal</button>

            {% endif %}

            <div class="m-down-1"></div>

            <div class="attention-content">
                <strong>Note:</strong> 
                <p>- Links and Images will be stripped from Markdown.</p>
                <p>- Once you create proposal, you will be taken to a confirmation page where you can review and edit your submission.</p>
            </div>

            <div class="m-down-1"></div>

            <label for="title" class="required">Title</label>
            <p class="label-description">The title of your talk.</p>
            <input type="text" id="title" name="title" class="w-100" required>

            <label for="detail" class="m-down-0 required">
                Detail
            </label>
            <p class="label-description">An in-depth explanation of your talk, read only by reviewers. (Markdown
                supported).</p>
            <textarea name="detail" id="detail" style="min-height: 800px;" required></textarea>

            <label for="abstract" class="required">
                Abstract
            </label>
            <p class="label-description">
                A short description of your talk.
                If your proposal is accepted, the
                abstract will be published on the
                conference website for everyone to view (Markdown supported).
            </p>
            <textarea name="abstract" id="abstract" style="min-height: 300px;" required></textarea>

            <label for="short_biography" class="m-down-0">
                Short Biography
            </label>
            <p class="label-description">A short biography about yourself, your experience and or how much you love
                Flask, or coding in general.
                This will only be viewed by certain members of the committee and reviewers. (Markdown supported).</p>
            <textarea name="short_biography" id="short_biography" style="min-height: 300px;"></textarea>

            <label for="notes_or_requests" class="m-down-0">
                Notes to the Committee
            </label>
            <p class="label-description">If you have any further requests or questions for the committee, you can
                mention those here. (Markdown supported).</p>
            <textarea name="notes_or_requests" id="notes_or_requests" style="min-height: 200px;"></textarea>

            <label for="tags" class="required">Tags</label>
            <p class="label-description">Comma seperated tags to help categorize your talk on the website.</p>
            <input type="text" id="tags" name="tags" class="w-100" placeholder="Flask, SQLAlchemy ..." required>
            
            <i>Form submission button is located at the top of the page</i><br>

            <a href="#top" class="button w-100">Back to Top</a>

        </form>
    </div>

{% endblock %}

{% block js %}
    {% include 'account/js/proposal-x-data.html' %}
{% endblock %}
