{% extends 'global/extends/backend.html' %}

{% block title %}
    Viewing Proposal: {{ proposal.title|truncate(45) }}
{% endblock %}

{% block breadcrumbs %}
    {{ breadcrumber([("Your Proposals", url_for('account.proposals')), (proposal.title + " (view)", None)]) }}
{% endblock %}

{% block content %}

    <div class="content-box m-down-4 break-word">

        <h1 class="m-down-1" style="font-size: 3.5rem;">{{ proposal.title }}</h1>

        <div class="top-stats m-down-1">
            <div><strong>Status:</strong> {{ proposal.proposal_status }}</div>
            <div><strong>Year:</strong> {{ proposal.year }}</div>
        </div>

        <h3 class="underline">Detail</h3>
        {{ proposal.detail_markdown|safe if proposal.detail_markdown else "<p>No detail provided.</p>"|safe }}
        <h3 class="m-up-2 underline">Abstract</h3>
        {{ proposal.abstract_markdown|safe if proposal.abstract_markdown else "<p>No abstract provided.</p>"|safe }}
        <h3 class="m-up-2 underline">Short Biography</h3>
        {{ proposal.short_biography_markdown|safe if proposal.short_biography_markdown else "<p>No short biography provided.</p>"|safe }}
        <h3 class="m-up-2 underline">Notes to the Committee</h3>
        {{ proposal.notes_or_requests_markdown|safe if proposal.notes_or_requests_markdown else "<p>No notes or requests provided.</p>"|safe }}
        <h3 class="m-up-2 underline">Tags</h3>
        {{ proposal.tags if proposal.tags else "No tags provided." }}

        <div class="m-down-3"></div>

        <a href="#top" class="button w-100">Back to Top</a>

    </div>

{% endblock %}

{% block js %}
    {% include 'account/js/proposal-x-data.html' %}
{% endblock %}

