{% extends 'global/extends/backend.html' %}

{% block title %}
    Sponsors
{% endblock %}

{% block breadcrumbs %}
    {{ breadcrumber([("Sponsors", None)]) }}
{% endblock %}

{% block content %}
    <div class="content-box m-down-4">

        <div>
            <a class="button button-primary" href="{{ url_for('staff_only.sponsors.add') }}">
                New Sponsor</a>
        </div>

        <table>
            <thead>
            <tr>
                <th>Year</th>
                <th>Level</th>
                <th>Name</th>
                <th>Contact Info</th>
                <th>Status</th>
                <th>&nbsp;</th>
            </tr>
            </thead>
            <tbody>
            {% for sponsor in sponsors %}
                <tr>
                    <td>{{ sponsor.year }}</td>
                    <td>{{ sponsor.level }}</td>
                    <td>{{ sponsor.name|truncate(40) }}</td>
                    <td class="break-word">{{ sponsor.contact_information|truncate(25) }}</td>
                    <td>
                        {{ 'Possible' if sponsor.possible }}
                        {{ 'Requested' if sponsor.requested }}
                        {{ 'Confirmed' if sponsor.confirmed }}
                        {{ 'Rejected' if sponsor.rejected }}
                    </td>
                    <td>
                        <a href="{{ url_for('staff_only.sponsors.edit', sponsor_id=sponsor.sponsor_id) }}">
                            Edit
                        </a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}

{% block js %}
{% endblock %}
