<script defer type="application/javascript">

    document.addEventListener('alpine:init', () => {

        Alpine.data('profile', () => ({
            account_display_picture: parseInt('{{ profile.fk_display_picture_id }}'),

            init() {
                const display_picture_box = document.getElementById('db_box_' + this.account_display_picture);
                const display_picture = document.getElementById('db_' + this.account_display_picture);
                display_picture_box.classList.add('display-picture-box-selected');
                display_picture.classList.add('display-picture-selected');
            },

            selectDisplayPicture(display_picture_id) {
                const last_display_picture_box = document.getElementById('db_box_' + this.account_display_picture);
                const last_display_picture = document.getElementById('db_' + this.account_display_picture);
                const display_picture_box = document.getElementById('db_box_' + display_picture_id);
                const display_picture = document.getElementById('db_' + display_picture_id);

                this.account_display_picture = display_picture_id;
                last_display_picture_box.classList.remove('display-picture-box-selected');
                last_display_picture.classList.remove('display-picture-selected');
                display_picture_box.classList.add('display-picture-box-selected');
                display_picture.classList.add('display-picture-selected');
            }

        }));

    })

</script>
