{% extends '2023/extends/base.html' %}

{% block head %}
    <title>FlaskCon 2023</title>
{% endblock %}

{% block js_overwrite %}
{% endblock %}

{% block main_overwrite %}
    <div class="full-page-hero">
        <img src="{{ url_for("www.2023.static", filename="img/flaskcon-animated.gif") }}"
             alt="FlaskCon Logo">
        <h1>2nd Dec - 3rd Dec</h1>
        <p>This year's Conference will be online, more details to come!</p>
    </div>
{% endblock %}

{% block footer_overwrite %}
{% endblock %}
