<h1>Reminder to Submit your Proposal(s)</h1>

<p>
    The deadline for submitting proposals is fast approaching, and
    you still have (a) proposal(s) in the status of preparation.
</p>

<p><strong>Have you forgotten to submit?</strong></p>

<p>
    To submit ->
    <strong><a href="{{ url_for('auth.login', _external=True) }}">Login</a></strong>
    to your account, click <strong>Your Proposals</strong>, click <strong>Edit</strong>,
    then click <strong>Submit your Proposal</strong>.
</p>
<br/>
<p>If you're still working on it, no worries... We look forward to receiving it! :)</p>
<br/>
<p>Kind Regards,</p>
<p>FlaskCon Team</p>