{% extends 'global/extends/backend.html' %}

{% block title %}
    Your Profile
{% endblock %}

{% block breadcrumbs %}
    {{ breadcrumber([("Your Profile", None)]) }}
{% endblock %}

{% block content %}

    <div class="content-box m-down-4" x-data="profile">

        <form method="post">

            <input type="hidden" name="fk_display_picture_id" x-model="account_display_picture">
            <input type="hidden" name="csrf" value="{{ csrf }}">

            <button type="submit" class="button-good">Save</button>

            <div class="m-down-1"></div>

            <label for="name_or_alias">Name or Alias</label>
            <input type="text" id="name_or_alias" name="name_or_alias" class="w-100"
                   value="{{ profile.name_or_alias }}">

            <label for="bio" class="m-down-0">
                Bio
            </label>
            <p class="label-description">A little bit about you. Please do not put any personally identifiable
                information here.</p>
            <textarea name="bio" id="bio">{{ profile.bio or "" }}</textarea>

            <label for="pronouns">Pronouns</label>
            <input type="text" id="pronouns" name="pronouns" class="w-100" value="{{ profile.pronouns or "" }}">

            <label for="country">Country</label>
            <select name="country" id="country" class="w-100">
                <option value="">Select a country</option>
                {% for country in all_countries %}
                    <option value="{{ country }}"
                            {% if profile.country == country %}selected{% endif %}>
                        {{ country }}
                    </option>
                {% endfor %}
            </select>

            <label for="company_name">Company Name</label>
            <input type="text" id="company_name" name="company_name" class="w-100"
                   value="{{ profile.company_name or "" }}">

            <label for="website">Company / Personal Website</label>
            <input type="text" id="website" name="website" class="w-100" value="{{ profile.website or "" }}">

            <label>Display Pictures</label>
            <div x-data="{ standardOpen: false, awardedOpen: false }">
                <div class="flex gap-1">
                    <button
                            class="m-up-1"
                            type="button"
                            @click="standardOpen = !standardOpen; awardedOpen= false"
                            :class="standardOpen ? 'button-primary' : ''"
                    >
                        Standard
                        <span :class="standardOpen ? 'rotate_90' : ''">&#8227;</span>

                    </button>

                    <button
                            class="m-up-1"
                            type="button"
                            @click="awardedOpen = !awardedOpen; standardOpen= false"
                            :class="awardedOpen ? 'button-primary' : ''"
                    >
                        Awarded
                        <span :class="awardedOpen ? 'rotate_90' : ''">&#8227;</span>
                    </button>
                </div>

                <div class="display-picture-choice" x-cloak x-show="standardOpen" x-transition>
                    {% for unique_display_picture_id, dp in standard_display_pictures.items() %}
                        <div class="display-picture-box" id="db_box_{{ dp.display_picture_id }}">
                            <img
                                    src="{{ url_for('static', filename='display-pictures/' + dp.filename) }}"
                                    alt="A display picture taken by {{ dp.attribution }}"
                                    id="db_{{ dp.display_picture_id }}"
                                    @click="selectDisplayPicture(parseInt('{{ dp.display_picture_id }}'))"
                                    title="A display picture by: {{ dp.attribution }}"
                                    class="display-picture-choice-img"
                            />
                            {% if dp.attribution_url %}
                                <small>
                                    A display picture by <br/>
                                    <a href="{{ dp.attribution_url }}"
                                       target="_blank"
                                       rel="noopener noreferrer nofollow">{{ dp.attribution }}</a>
                                </small>
                            {% else %}
                                <small>
                                    A display picture by <br/>
                                    {{ dp.attribution }}
                                </small>
                            {% endif %}
                        </div>
                    {% endfor %}
                </div>

                <div class="display-picture-choice" x-cloak x-show="awardedOpen" x-transition>
                    {% if earned_display_pictures %}
                        {% for dp in earned_display_pictures %}
                            <div class="display-picture-box" id="db_box_{{ awarded_display_pictures[dp].display_picture_id }}">
                                <img
                                        src="{{ url_for('static', filename='display-pictures/' + awarded_display_pictures[dp].filename) }}"
                                        alt="A display picture taken by {{ awarded_display_pictures[dp].attribution }}"
                                        id="db_{{ awarded_display_pictures[dp].display_picture_id }}"
                                        @click="selectDisplayPicture(parseInt('{{ awarded_display_pictures[dp].display_picture_id }}'))"
                                        title="A display picture by: {{ awarded_display_pictures[dp].attribution }}"
                                        class="display-picture-choice-img"
                                />
                                <small>{{ awarded_display_pictures[dp].note }}</small>
                                {% if awarded_display_pictures[dp].attribution_url %}
                                    <small>
                                        A display picture by<br/>
                                        <a href="{{ awarded_display_pictures[dp].attribution_url }}"
                                           target="_blank"
                                           rel="noopener noreferrer nofollow">{{ awarded_display_pictures[dp].attribution }}</a>
                                    </small>
                                {% else %}
                                    <small>
                                        A display picture by <br/>
                                        {{ awarded_display_pictures[dp].attribution }}
                                    </small>
                                {% endif %}
                            </div>
                        {% endfor %}
                    {% else %}
                        <div class="note"><p class="m-all-0">You have no earned Display Pictures</p></div>
                    {% endif %}
                </div>

            </div>

            <div class="m-down-3"></div>

            <a href="#top" class="button w-100">Back to Top</a>

        </form>

    </div>
{% endblock %}

{% block js %}
    {% include 'account/js/profile-x-data.html' %}
{% endblock %}

