{% extends 'extends/auth-main.html' %}

{% block content %}
    <div class="login">
        <img width="80" src="{{ url_for('static', filename='flaskcon-logo.svg') }}" alt="FlaskCon Logo">

        <form>
            <label for="username">Username</label>
            <input type="text" name="username" id="username">

            <label for="password">Password</label>
            <input type="text" name="password" id="password">

            <button type="submit">Login</button>
        </form>
    </div>
{% endblock %}
