{% extends 'global/extends/backend-auth.html' %}

{% block title %}
    Forgot Password
{% endblock %}

{% block content %}
    <div class="auth">
        <form method="post">

            <label for="email_address">Email</label>
            <input type="text" name="email_address" id="email_address">
            <button type="submit" class="button-primary">Send Reset Link</button>
            <a href="{{ url_for('auth.login') }}" class="button">Back to Login</a>

            <input type="hidden" name="csrf" value="{{ csrf }}">
        </form>
    </div>
{% endblock %}
