{% extends 'global/extends/backend-auth.html' %}

{% block title %}
    Reset Password
{% endblock %}

{% block content %}
    <div class="auth">
        <form method="post">

            <label for="password">New Password</label>
            <input
                    type="password"
                    name="password"
                    id="password"
                    x-model="signup_password"
                    @change="check_password_strength()"
                    @keyup="check_password_strength()"
                    style="margin-bottom: 0.5rem;"
            >
            <div style="margin-bottom: 1rem;">
                <label><small>Strength:</small>
                    <progress
                            id="password_strength"
                            max="100"
                            value="0"
                            :style="{'accent-color': signup_strength_bar_color}"
                            x-model="signup_strength_bar"
                    ></progress>
                </label>
                <span class="form-error" x-text="signup_strength_msg">
                </span>
            </div>
            <label for="confirm_password">
                Confirm New Password
            </label>
            <input
                    type="password"
                    name="confirm_password"
                    id="confirm_password"
                    x-model="signup_confirm_password"
                    @change="signup_check_passwords_match()"
                    @keyup="signup_check_passwords_match()"
                    style="margin-bottom: 0.5rem;"
            >
            <div style="margin-bottom: 1rem;">
                <span class="form-error" x-cloak x-show="signup_passwords_match === false">
                    Passwords do not match.
                </span>
            </div>
            <button
                    class="button-primary"
                    :type="signup_button_enabled ? 'submit' : 'button'"
                    :class="{'button-disabled': !signup_button_enabled}"
            >
                Set Password
            </button>
            <a href="{{ url_for('auth.login') }}" class="button">Back to Login</a>

            <input type="hidden" name="csrf" value="{{ csrf }}">
        </form>
    </div>
{% endblock %}

{% block js %}
    {% include 'auth/js/backend-auth-x-data.html' %}
{% endblock %}