{% extends 'global/extends/backend-auth.html' %}

{% block title %}
    Signup
{% endblock %}

{% block content %}
    <div class="auth" x-data="authMain">

        <p>A confirmation code has been sent to your email address!</p>

        <form method="post">
            <input type="hidden" name="csrf" value="{{ csrf }}">

            <label for="conf_code">Confirmation Code</label>
            <input
                    type="text"
                    name="conf_code"
                    id="conf_code"
                    style="margin-bottom: 0.5rem;"
                    required
            >

            <button class="button-primary"
                    type="submit">
                Confirm
            </button>

        </form>
    </div>
{% endblock %}

{% block js %}
    {% include 'auth/js/backend-auth-x-data.html' %}
{% endblock %}