<!DOCTYPE html>
<html lang="en" dir="ltr">


<head>
    <title>{% block title %}{% endblock %}FlaskCon 2023</title>

    {% block head_base %}
        <base href="{{ request.base_url|https }}">
    {% endblock %}
    {% block head_content_security_policy %}
        <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">
    {% endblock %}
    {% block head_bots %}
        <meta name="robots" content="index,follow">
        <meta name="googlebot" content="index,follow">
    {% endblock %}
    {% block head_general_settings %}
        <meta charset="utf-8">
        <meta http-equiv="x-dns-prefetch-control" content="off">
        <meta name="google" content="nositelinkssearchbox">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="referrer" content="no-referrer">
        <meta name="format-detection" content="telephone=no">
        <meta name="msapplication-TileColor" content="#1aa3b8">
        <meta name="theme-color" content="#1aa3b8">
    {% endblock %}
    {% block head_page_specific %}
        <meta name="description" content="FlaskCon 2023">
        <meta name="subject" content="A conference for the users of Flask.">
        <meta name="rating" content="general">
    {% endblock %}
    {% block head_facebook %}
        <meta property="og:url" content="{{ request.base_url|https }}">
        <meta property="og:type" content="website">
        <meta property="og:title" content="FlaskCon 2023">
        <meta property="og:image"
              content="{{ url_for('conf_2023.static', filename='img/facebook-tag.gif', _external=True)|https }}">
        <meta property="og:image:alt"
              content="FlaskCon 2023 Text Logo.">
        <meta property="og:description" content="A conference for the users of Flask.">
        <meta property="og:site_name" content="flaskcon.com">
        <meta property="og:locale" content="en_US">
    {% endblock %}
    {% block head_twitter %}
        <meta name="twitter:card" content="summary">
        <meta name="twitter:site" content="@FlaskCon">
        <meta name="twitter:creator" content="@FlaskCon">
        <meta name="twitter:url" content="{{ request.base_url|https }}">
        <meta name="twitter:title" content="FlaskCon 2023">
        <meta name="twitter:description" content="A conference for the users of Flask.">
        <meta name="twitter:image"
              content="{{ url_for('conf_2023.static', filename='img/twitter-tag.jpg', _external=True)|https }}">
        <meta name="twitter:image:alt" content="FlaskCon 2023 Text Logo.">
    {% endblock %}
    {% block head_pinterest %}
        <meta name="pinterest" content="nopin">
    {% endblock %}
    {% block head_dns_prefetching %}
        {#    <link rel="dns-prefetch" href="//fonts.googleapis.com">#}
    {% endblock %}
    {% block head_favicons %}
        <link rel="apple-touch-icon" sizes="120x120"
              href="{{ url_for("conf_2023.static", filename="apple-touch-icon.png") }}">
        <link rel="icon" type="image/png" sizes="32x32"
              href="{{ url_for("conf_2023.static", filename="favicon-32x32.png") }}">
        <link rel="icon" type="image/png" sizes="16x16"
              href="{{ url_for("conf_2023.static", filename="favicon-16x16.png") }}">
        <link rel="manifest" href="{{ url_for("conf_2023.static", filename="site.webmanifest") }}">
        <link rel="mask-icon" href="{{ url_for("conf_2023.static", filename="safari-pinned-tab.svg") }}"
              color="#1aa3b8">
    {% endblock %}
    {% block head_css %}
        <link rel="stylesheet" href="{{ url_for("conf_2023.static", filename="css/normalize.css") }}"/>
        <link rel="stylesheet" href="{{ url_for("conf_2023.static", filename="css/skeleton.css") }}"/>
        <link rel="stylesheet" href="{{ url_for("conf_2023.static", filename="css/main.css") }}"/>
    {% endblock %}
    {% block head_js %}
        <script src="//unpkg.com/alpinejs" defer></script>
        {% include "conf_2023/js/alpine-body-data.html" %}
    {% endblock %}

    {% block head %} {% endblock %}
</head>
<body x-data="body">
{% block main_overwrite %}
    {% block hero_header %}

    {% endblock %}
    <div class="water-background">
        <div class="hero-rocks"></div>
        <main>
            {% block body %}
            {% endblock %}
        </main>
    </div>
{% endblock %}

{% block footer_overwrite %}
    {% include "conf_2023/includes/footer.html" %}
{% endblock %}
</body>

</html>
