body, html {
    margin: 0;
    padding: 0;
    background-color: #545454;
}

@font-face {
    font-family: 'Sticks';
    src: url('../fonts/Opensticks-EOBW.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

nav {
    width: 100%;
    min-height: 80px;
    position: fixed;
    background-color: #545454;
    z-index: 1;
    border-bottom: 2px solid #1e1e1e;
    display: flex;
    align-items: center;
}

nav img {
    max-height: 60px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    gap: 1rem;
}

nav ul li {
    margin: 0;
}

nav a {
    display: block;
    padding: 0.5rem 1rem;
    margin: 0;
    border-radius: 4px;
    color: white;
    text-decoration: none;
}

nav ul li a:hover {
    color: white;
    border-radius: 4px;
}

.sub-menu {
    width: 100%;
    top: 75px;
    min-height: 80px;
    position: fixed;
    background-color: #545454;
    z-index: 1;
    border-bottom: 2px solid #1e1e1e;
    display: flex;
    align-items: center;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.sub-menu ul {
    justify-content: center;
    gap: 2rem;
    flex-wrap: wrap;
}

.nav-mouseenter {
    animation-fill-mode: forwards;
    animation-duration: 0.5s;
    animation-name: show-background;
}

.nav-mouseout {
    animation-fill-mode: forwards;
    animation-duration: 0.5s;
    animation-name: hide-background;
}

@keyframes show-background {
    from {
        background-color: rgba(15, 160, 206, 0);
    }
    to {
        background-color: rgba(15, 160, 206, 100);
    }
}

@keyframes hide-background {
    from {
        background-color: rgba(15, 160, 206, 100);
    }
    to {
        background-color: rgba(15, 160, 206, 0);
    }
}

.nav-spacer {
    height: 80px;
}

section {
    margin: 0 auto;
    width: 100%;
    max-width: 1024px;
}

.a-fix a {
    color: #065f93;
    font-weight: bold;
}

.a-fix a:hover {
    color: #097cbe;
}

footer {
    width: 100%;
    border-bottom: #545454 6px solid;
    border-top: #5b9136 2px solid;
    color: white;
    font-size: 1.6rem;
}

footer ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

footer ul li {
    display: inline;
    margin: 0;
}

footer ul li a {
    color: #FFF;
    text-decoration: none;
    padding: 1rem;
}

.display-desktop {
    display: block;
}

.display-mobile {
    display: none;
}

.display-flex {
    display: flex;
}


.display-flex {
    display: flex;
}

.flex-row {
    flex-direction: row;
}

.flex-col {
    flex-direction: column;
}

.height-100 {
    height: 100%;
}

.align-items-start {
    align-items: start;
}

.align-items-center {
    align-items: center;
}

.align-center {
    align-content: center;
}

.space-between {
    justify-content: space-between;
}

.space-evenly {
    justify-content: space-evenly;
}

.justify-center {
    justify-content: center;
}

.text-center {
    text-align: center;
}

.logo {
    background: url("../img/flaskcon-animated-large.gif") no-repeat;
    width: 830px;
    height: 600px;
}

.pin-stripe-bg {
    background: url("../img/pin-stripe.svg") repeat;
}

/* Specific */

.grass-background {
    background: #70b043 url("../img/grass-background.png") repeat;
}

.full-page-hero {
    background: #70b043 url("../img/grass-background.png") repeat;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: whitesmoke;
}

.full-page-hero h1 {
    text-shadow: 2px 2px 2px #000;
}

.full-page-hero p {
    text-shadow: 1px 1px 2px #000;
    font-size: 1.6rem;
}

.hero {
    background: #70b043 url("../img/grass-background.png") repeat;
    width: 100%;
    border-bottom: #afafaf 2px solid;
}

.sub-hero {
    background: #c9fff8 url("../img/water-tile.gif") repeat;
    color: #111111;
}

.hero-rocks {
    background: url("../img/hero-rocks.gif") repeat-x;
    height: 24px;
    width: 100%;
}

.workshop-park {
    display: flex;
    flex-direction: column;
    border-left: #9c9c9c 40px solid;
    border-radius: 10px 0 0 0;
}

.workshop-park h2 {
    color: #ffffff;
    font-size: 3.5rem;
    font-weight: bold;
    text-shadow: #1e1e1e 1px 1px 2px;
    margin-top: 0;
    padding-left: 2rem;
}

.workshops {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 4rem;
    margin-bottom: 4rem;
}

.workshop {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.workshop h3 {
    font-size: 2.5rem;
    color: #131313;
    font-weight: bold;
    text-shadow: #1e1e1e 1px 1px 1px;
    margin-bottom: 0;
    margin-top: 0;
}

.workshop h4 {
    font-size: 2.2rem;
    color: whitesmoke;
    font-weight: bold;
    text-shadow: #1e1e1e 1px 1px 2px;
    margin-top: 0;
    margin-bottom: 0;
}

.workshop h5 {
    font-size: 2rem;
    color: whitesmoke;
    font-weight: bold;
    text-shadow: #1e1e1e 1px 1px 2px;
    margin-top: 0;
    margin-bottom: 0;
    font-style: italic;
}

.island {
    border-radius: 12px;
    background-color: #ffff9d;
    box-shadow: 0 0 10px 10px #ffff9d;
}

.port {
    background: #9c9c9c;
    margin-bottom: 4rem;
    margin-top: -2.5rem;
}

.port h2 {
    color: #ffffff;
    font-size: 3.5rem;
    padding-top: 10rem;
    padding-left: 2rem;
    padding-right: 4rem;
    margin-bottom: 0;
    font-weight: bold;
    text-shadow: #1e1e1e 1px 1px 2px;
}

.port-bottom {
    background: url("../img/port-bottom.gif") repeat-x;
    margin-bottom: -17px;
    height: 17px;
    width: 100%;
}

.sponsors {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: whitesmoke;
    padding-bottom: 4rem;
}

.sponsor {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 5rem;
}

.talks {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    color: whitesmoke;
    gap: 4rem;
}

.talk {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    gap: 0.5rem;
    padding: 0 1rem;
    color: #1e1e1e;
}

.talk-right {
    text-align: right;
}

.talk-left {
    text-align: left;
}

.talk h2 {
    font-size: 3rem;
    margin: 0;
    display: inline-block;
    padding: 0 2rem 2rem 2rem;
    color: #522907;
}

.talk h5 {
    font-size: 2rem;
    color: #101010;
    font-weight: bold;
    padding: 2rem 0 0 2rem;
    margin-top: 0;
    margin-bottom: 0;
    font-style: italic;
}


.talk p {
    font-size: 2.6rem;
    font-style: italic;
    margin: 0;

}

.talk .rocks {
    background: url("../img/hero-rocks.gif") repeat-x;
    height: 17px;
    width: 100%;
}

.talk .island {
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: 12px;
    background-color: #ffff9d;
    box-shadow: 0 0 10px 10px #ffff9d;
}

.talk .dock {
    background: url("../img/dock.gif") repeat-x;
    height: 47px;
    width: 100%;
    color: white;
    font-weight: bold;
    text-shadow: #1e1e1e 1px 1px 2px;
    padding-right: 1rem;
    padding-left: 1rem;
    margin-top: -20px;
}

.talk-speaker-r {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    flex-direction: row;
}

.talk-speaker-rr {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    flex-direction: row-reverse;
}

.sponsor img {
    max-width: 400px;
    width: 100%;
}

.water-background {
    background: #c9fff8 url("../img/water-tile-elesser.gif") repeat;
    color: #111111;
}

.sub-hero-color-shift-away {
    background: #c9fff8 url("../img/section-into-white.png") repeat-x;
    height: 96px;
    width: 100%;
}

.beach-fade {
    background: url("../img/section-into-beach.png") repeat-x;
    height: 96px;
    width: 100%;
}

.book-tickets {
    width: 210px;
    height: 183px;
}

.reviewers {

}

.reviewers h1 {
    margin-top: 0;
}

.reviewers img {
    max-width: 80px;
    border-radius: 50%;
}

.reviewers p {
    opacity: 0.9;
    font-style: italic;
    font-size: 1rem;
}

.this-years-staff {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 1rem;
}

.this-years-staff div {
    padding: 1rem;
    background: url("../img/pin-stripe-gray.svg") repeat;
    border-radius: 1rem;
    cursor: pointer;
    border: solid 1px rgb(234, 234, 234);
    text-align: center;
}

.this-years-staff div:hover {
    padding: 1rem;
    background: url("../img/pin-stripe-hover-blue.svg") repeat;
    border-radius: 1rem;
    cursor: pointer;
    border: solid 1px rgb(220, 220, 220);
}

.staff h1 {
    margin-top: 0;
}

.media-partners-color-shift {
    background: #0FA0CE url("../img/section-from-white.png") repeat-x;
    height: 96px;
}

.media-partners-container {
    width: 100%;
    background-color: #ffff9d;
}

.media-partners h1 {
    margin-top: 0;
}

.this-years-media-partners {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 8rem;
    justify-content: center;
    padding: 2rem;
}

.media-partner {
    max-width: 250px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding: 1.5rem;
    text-align: center;
}

.media-partner img {
    width: 200px;
    flex-shrink: 0;
}

.media-partner p {
    padding-top: 1rem;
    margin: 0;
}

.media-partner a {
    margin-top: 1rem;
}

.bg-section-white {
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 8px;
}

.split-button {
    display: flex;
}

.split-button > a:first-child {
    border-right: 0;
    border-radius: 4px 0 0 4px;
}

.split-button > a:last-child {
    border-radius: 0 4px 4px 0;
}

/* Spacing */

.w-100 {
    width: 100%;
}

.gap-1 {
    gap: 1rem;
}

.gap-2 {
    gap: 2rem;
}

.gap-3 {
    gap: 3rem;
}

.m-1 {
    margin: 1rem;
}

.m-2 {
    margin: 2rem;
}

.m-3 {
    margin: 3rem;
}

.my-0 {
    margin-top: 0;
    margin-bottom: 0;
}

.my-1 {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.my-2 {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.my-3 {
    margin-top: 3rem;
    margin-bottom: 3rem;
}

.mx-auto {
    margin-left: auto;
    margin-right: auto;
}

.mx-1 {
    margin-left: 3rem;
    margin-right: 3rem;
}

.mx-2 {
    margin-left: 3rem;
    margin-right: 3rem;
}

.mx-3 {
    margin-left: 3rem;
    margin-right: 3rem;
}


.p-1 {
    padding: 1rem;
}

.p-2 {
    padding: 2rem;
}

.p-3 {
    padding: 3rem;
}

.py-1 {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.py-2 {
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.py-3 {
    padding-top: 3rem;
    padding-bottom: 3rem;
}

.py-4 {
    padding-top: 4rem;
    padding-bottom: 4rem;
}

.py-5 {
    padding-top: 5rem;
    padding-bottom: 5rem;
}

.px-1 {
    padding-left: 3rem;
    padding-right: 3rem;
}

.px-2 {
    padding-left: 3rem;
    padding-right: 3rem;
}

.px-3 {
    padding-left: 3rem;
    padding-right: 3rem;
}

.mb-0 {
    margin-bottom: 0;
}

.mb-1 {
    margin-bottom: 1rem;
}

.mb-2 {
    margin-bottom: 2rem;
}

.mb-3 {
    margin-bottom: 3rem;
}

.mt-0 {
    margin-top: 0 !important;
}

.mt-1 {
    margin-top: 1rem !important;
}

.mt-2 {
    margin-top: 2rem !important;
}

.mt-3 {
    margin-top: 3rem !important;
}

.mt-4 {
    margin-top: 4rem !important;
}

.mt-5 {
    margin-top: 5rem !important;
}

.mt-10 {
    margin-top: 10rem !important;
}

.border-white-1 {
    border: 1px solid rgba(255, 255, 255, 0.7) !important;
}


/* buttons */

.button.button-disabled,
button.button-disabled,
input[type="submit"].button-disabled,
input[type="reset"].button-disabled,
input[type="button"].button-disabled {
    color: #FFF;
    background-color: #676767;
    border-color: #676767;
}

.button.button-disabled:hover,
button.button-disabled:hover,
input[type="submit"].button-disabled:hover,
input[type="reset"].button-disabled:hover,
input[type="button"].button-disabled:hover,
.button.button-disabled:focus,
button.button-disabled:focus,
input[type="submit"].button-disabled:focus,
input[type="reset"].button-disabled:focus,
input[type="button"].button-disabled:focus {
    color: #FFF;
    background-color: #676767;
    border-color: #676767;
}

.border-radius-4 {
    border-radius: 4px;
}

.border-radius-8 {
    border-radius: 8px;
}

.border-radius-12 {
    border-radius: 12px;
}


@media (max-width: 920px) {
    .display-desktop {
        display: none;
    }

    .display-mobile {
        display: block;
    }

    .this-years-media-partners div {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .talk-speaker-r {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1rem;
        flex-direction: column;
    }

    .talk-speaker-rr {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1rem;
        flex-direction: column;
    }

    footer ul li {
        text-align: center;
        display: block;
        margin: 0;
        padding: 1rem;
    }
}
