{% extends 'global/extends/backend.html' %}

{% block title %}
    Account Settings
{% endblock %}

{% block breadcrumbs %}
    {{ breadcrumber([("Account Settings", None)]) }}
{% endblock %}

{% block content %}
    <div class="container" x-data="settings">
        <h1>Settings</h1>
        <div class="row">
            <div class="six columns">

            </div>
            <div class="six columns">

            </div>
        </div>
    </div>
{% endblock %}

{% block js %}
    {% include 'account/js/settings-x-data.html' %}
{% endblock %}
