{% extends 'global/extends/backend.html' %}

{% block title %}
    Your Talks
{% endblock %}

{% block breadcrumbs %}
    {{ breadcrumber([("Your Talks", None)]) }}
{% endblock %}

{% block content %}

    <div class="content-box">

        <div>
            <a class="button button-primary" href="{{ url_for('account.propose_a_talk') }}">
                Propose a talk</a>
        </div>

        <div class="m-down-1"></div>

        {% if talks %}
            {% for talk in talks %}


                <div class="attention-content">

                    <div class="top-stats">
                        <div><strong>Status:</strong> {{ talk.talk_status }}</div>
                        <div><strong>Year:</strong> {{ talk.year }}</div>
                    </div>

                    <h1 class="m-up-1 m-down-2">{{ talk.title }}</h1>

                    <div>
                        {% if talk.talk_status == "Preparation" or talk.talk_status == "Change Requested" %}
                            <a class="button button-primary m-all-0"
                               href="{{ url_for('account.talk', talk_id=talk.talk_id) }}">Edit</a>
                        {% else %}

                            <button disabled class="button-primary">Edit</button>

                        {% endif %}
                        <a class="button button-primary m-all-0"
                           href="{{ url_for('account.view_talk', talk_id=talk.talk_id) }}">View</a>
                    </div>

                </div>

            {% endfor %}
        {% else %}
            <div class="attention-content">
                <p class="m-up-down-0">You don't have any talks.</p>
            </div>
        {% endif %}

    </div>


{% endblock %}

{% block js %}
{% endblock %}

