{% extends 'global/extends/backend.html' %}

{% block title %}
    View - {{ talk.title }}
{% endblock %}

{% block breadcrumbs %}
    {{ breadcrumber([("Your Talks", url_for('account.talks')), (talk.title + ' (View)', None)]) }}
{% endblock %}

{% block content %}

    <div class="content-box m-down-4">

        <h1>{{ talk.title }}</h1>

        <h2>Detail</h2>
        {{ talk.detail_markdown|safe }}
        <h2 class="m-up-2">Abstract</h2>
        {{ talk.abstract_markdown|safe }}
        <h2 class="m-up-2">Short Biography</h2>
        {{ talk.short_biography_markdown|safe }}
        <h2 class="m-up-2">Notes to the Committee</h2>
        {{ talk.notes_or_requests_markdown|safe }}
        <h2 class="m-up-2">Tags</h2>
        {{ talk.tags }}

    </div>

{% endblock %}

{% block js %}
    {% include 'account/js/talk-x-data.html' %}
{% endblock %}

