.form-error {
    color: red;
    font-size: 1.4rem;
}

.flash-message {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1rem;
    background-color: rgba(56, 168, 190, 1);
    color: #fff;
    text-align: center;
    font-size: 1.2rem;
    z-index: 9999;
    cursor: pointer;
}

.flash-message-item {
    margin: 1rem;
}

.auth-fc-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.auth-fc-container img {
    padding-top: 2rem;
    padding-bottom: 1.5rem;
    text-align: center;
}

.auth {
    width: 100%;
    max-width: 400px;
    background-color: rgba(255, 255, 255, 0.80);
    border-radius: 1rem;
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    padding: 1.5rem;
}

.auth form {
    display: flex;
    flex-direction: column;

}

.auth form input {
    margin-bottom: 1rem;
}

.auth form button {
    margin-bottom: 1rem;
}

.fc-container-errors {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
}

.fc-container-errors img {
    padding: 4rem 0;
}

.fc-container-errors h2 {
    text-align: center;
}

.fc-container-errors p {
    text-align: center;
}

.fc-container {
    display: flex;
    flex-direction: row;
}

.fc-container > aside {
    background-color: rgba(255, 255, 255, 0.95);
    border-right: 1px solid rgba(229, 229, 229, 0.5);
    height: 100vh;
    z-index: 9;
    position: fixed;
}

.dummy-side-nav {
    display: block;
    width: 250px;
    padding: 0 2rem;
}

.side-nav {
    display: block;
    width: 250px;
    padding: 0 2rem;
}

.side-nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
}

.side-nav li {
    text-align: center;
}

.side-nav li a {
    display: block;
    text-decoration: none;
    background-color: rgba(255, 255, 255, 0.70);
    border: 1px solid rgba(229, 229, 229, 0.5);
    padding: 0.8rem;
    margin: 0 0.8rem;
    border-radius: 8px;
    color: #1e1e1e;
}

.side-nav li a:hover {
    background-color: rgba(56, 168, 190, 0.1);
}

.side-nav .selected {
    background-color: rgba(56, 168, 190, 0.1);
}

.side-nav-selected {
    background-color: rgba(56, 168, 190, 0.1);
}

.product-info {
    display: flex;
    flex-direction: column;
    border-top: 1px solid rgba(229, 229, 229, 0.5);
    margin-top: 2rem;
    padding: 2rem;
}

.product-info img {
    width: 100px;
}

.accountlet {
    padding: 4rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.accountlet img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-bottom: 1rem;
}

.top-nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    min-height: 80px;
}

.top-nav div {
    padding: 0 1rem;
}

.center-content {
    border: 1px solid rgba(229, 229, 229, 0.80);
    max-width: 1400px;
    padding: 0.5rem 1rem;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.content {
    flex: 1;
    margin: 0 2rem;
}

.content-box {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    background-color: rgba(255, 255, 255, 0.80);
    border-radius: 8px;
    padding: 2rem;
}

.auth-content-box input, textarea {
    width: 100%;
}

.form-buttons {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 1rem;
}

.warning {
    background-color: rgba(255, 0, 0, 0.05);
    border-radius: 8px;
    padding: 2rem;
    font-weight: bold;
}

.note {
    background-color: rgba(12, 12, 12, 0.05);
    border-radius: 8px;
    padding: 2rem;
    font-weight: bold;
}

.warning p {
    margin: 0;
}