/* Spacing */

.text-center {
    text-align: center!important;
}

.w-100 {
    width: 100%!important;
}

.gap-1 {
    gap: 1rem!important;
}

.gap-2 {
    gap: 2rem!important;
}

.gap-3 {
    gap: 3rem!important;
}

.gap-4 {
    gap: 4rem!important;
}

.m-all-0 {
    margin: 0!important;
}

.m-all-1 {
    margin: 1rem!important;
}

.m-all-2 {
    margin: 2rem!important;
}

.m-all-3 {
    margin: 3rem!important;
}

.m-all-4 {
    margin: 4rem!important;
}


.m-up-0 {
    margin-top: 0!important;
}

.m-up-1 {
    margin-top: 1rem!important;
}

.m-up-2 {
    margin-top: 2rem!important;
}

.m-up-3 {
    margin-top: 3rem!important;
}

.m-up-4 {
    margin-top: 4rem!important;
}


.m-down-0 {
    margin-bottom: 0!important;
}

.m-down-1 {
    margin-bottom: 1rem!important;
}

.m-down-2 {
    margin-bottom: 2rem!important;
}

.m-down-3 {
    margin-bottom: 3rem!important;
}

.m-down-4 {
    margin-bottom: 4rem!important;
}


.m-up-down-0 {
    margin-top: 0!important;
    margin-bottom: 0!important;
}

.m-up-down-1 {
    margin-top: 1rem!important;
    margin-bottom: 1rem!important;
}

.m-up-down-2 {
    margin-top: 2rem!important;
    margin-bottom: 2rem!important;
}

.m-up-down-3 {
    margin-top: 3rem!important;
    margin-bottom: 3rem!important;
}

.m-up-down-4 {
    margin-top: 4rem!important;
    margin-bottom: 4rem!important;
}

.m-left-right-auto {
    margin-left: auto!important;
    margin-right: auto!important;
}

.m-left-right-0 {
    margin-left: 0!important;
    margin-right: 0!important;
}

.m-left-right-1 {
    margin-left: 1rem!important;
    margin-right: 1rem!important;
}

.m-left-right-2 {
    margin-left: 2rem!important;
    margin-right: 2rem!important;
}

.m-left-right-3 {
    margin-left: 3rem!important;
    margin-right: 3rem!important;
}

.m-left-right-4 {
    margin-left: 4rem!important;
    margin-right: 4rem!important;
}

.p-all-0 {
    padding: 0!important;
}

.p-all-1 {
    padding: 1rem!important;
}

.p-all-2 {
    padding: 2rem!important;
}

.p-all-3 {
    padding: 3rem!important;
}

.p-all-4 {
    padding: 4rem!important;
}


.p-down-0 {
    padding-bottom: 0!important;
}

.p-down-1 {
    padding-bottom: 1rem!important;
}

.p-down-2 {
    padding-bottom: 2rem!important;
}

.p-down-3 {
    padding-bottom: 3rem!important;
}

.p-down-4 {
    padding-bottom: 4rem!important;
}

.p-up-down-0 {
    padding-top: 0!important;
    padding-bottom: 0!important;
}

.p-up-down-1 {
    padding-top: 1rem!important;
    padding-bottom: 1rem!important;
}

.p-up-down-2 {
    padding-top: 2rem!important;
    padding-bottom: 2rem!important;
}

.p-up-down-3 {
    padding-top: 3rem!important;
    padding-bottom: 3rem!important;
}

.p-up-down-4 {
    padding-top: 4rem!important;
    padding-bottom: 4rem!important;
}

.p-left-right-1 {
    padding-left: 0!important;
    padding-right: 0!important;
}

.p-left-right-1 {
    padding-left: 3rem!important;
    padding-right: 3rem!important;
}

.p-left-right-2 {
    padding-left: 3rem!important;
    padding-right: 3rem!important;
}

.p-left-right-3 {
    padding-left: 3rem!important;
    padding-right: 3rem!important;
}

.p-left-right-4 {
    padding-left: 4rem!important;
    padding-right: 4rem!important;
}