{% extends 'global/extends/backend.html' %}

{% block title %}
    Account ID: {{ this_account.account_id }}
{% endblock %}

{% block breadcrumbs %}
    {{ breadcrumber(
        [
            ("Account Management", url_for('system.accounts')),
            (this_account.email_address, None)
        ]
    ) }}
{% endblock %}


{% block content %}
    <div class="content-box m-down-4" x-data="account">

        <form method="post">

            <input type="hidden" name="csrf" value="{{ csrf }}">

            <button type="submit" class="button-good">Save</button>

            <div class="m-down-1"></div>

            <div class="attention-content">
                <strong>Name or Alias</strong>
                <p>{{ this_account.rel_profile.name_or_alias }}</p>
            </div>

            <div class="attention-content">
                <strong>Bio</strong>
                <p>{{ this_account.rel_profile.bio }}</p>
            </div>

            <div class="attention-content">
                <strong>Pronouns</strong>
                <p>{{ this_account.rel_profile.pronouns }}</p>
            </div>

            <div class="attention-content">
                <strong>Country</strong>
                <p>{{ this_account.rel_profile.country }}</p>
            </div>

            <div class="attention-content">
                <strong>Company Name</strong>
                <p>{{ this_account.rel_profile.company_name }}</p>
            </div>

            <div class="attention-content">
                <strong>Company / Personal Website</strong>
                <p>{{ this_account.rel_profile.website }}</p>
            </div>

            <p class="m-up-2"><strong>Roles</strong></p>

            <div class="roles-choice">
                {# Output in jinja to stop the IDE complaining #}
                <template {{ 'x-for="(attrs, name) in all_roles"'|safe }}>
                    <div
                            :class="attrs.has ? 'role-choice-selected' : 'role-choice'"
                            @click="!all_roles[name].has ? all_roles[name].has = true : all_roles[name].has = false"
                    >
                        <p x-text="name"></p>
                        <input type="hidden" :name="`role_${attrs.role_id}`" x-model="attrs.has">
                    </div>
                </template>
            </div>

            <p class="m-up-2"><strong>Disable / Enable</strong></p>

            <div class="account-enable-disable">
                <div
                        class="account-status"
                        :class="disabled ? 'account-disabled' : 'account-enabled'"
                        x-text="disabled ? 'Account Disabled' : 'Account Enabled'"
                ></div>
                <button
                        type="button"
                        class="button-good m-down-0"
                        :disabled="!disabled"
                        @click="disabled = !disabled"
                >Enable Account
                </button>
                <button
                        type="button"
                        class="button-bad m-down-0"
                        :disabled="disabled"
                        @click="disabled = !disabled"
                >Disable Account
                </button>
            </div>

            <input type="hidden" name="disabled" x-model="disabled">

        </form>

    </div>



{% endblock %}

{% block js %}
    {% include 'system/js/account-x-data.html' %}
{% endblock %}
