{% extends 'global/extends/backend.html' %}

{% block title %}
    Update Feed
{% endblock %}

{% block breadcrumbs %}
    {{ breadcrumber([("Dashboard", None)]) }}
{% endblock %}

{% block content %}
    <div class="container" x-data="dashboard">
        <h1>Update Feed</h1>
        <div class="row">
            <div class="six columns">

            </div>
            <div class="six columns">

            </div>
        </div>
    </div>
{% endblock %}

{% block js %}
    {% include 'system/js/accounts-x-data.html' %}
{% endblock %}
