{# OLD BOOK TICKETS GRAPHIC #}

{#                <div class="display-flex flex-col align-items-center py-3">#}
{#                    <p style="margin: 0; color: white; text-align: center"><strong>SHARE</strong></p>#}
{#                    <div class="display-flex align-items-center justify-center gap-1" style="margin-bottom: 1rem;">#}
{#                        <img src="{{ url_for("frontend.2023.static", filename="img/twitter.png") }}"#}
{#                             alt="Twitter Icon">#}
{#                        <img src="{{ url_for("frontend.2023.static", filename="img/facebook.png") }}"#}
{#                             alt="Facebook Icon">#}
{#                    </div>#}
{#                    <div class="book-tickets"#}
{#                         x-init="$el.style.backgroundImage = book_tickets_bg_ns"#}
{#                         @mouseenter="$el.style.backgroundImage = book_tickets_bg_hover"#}
{#                         @mouseleave="$el.style.backgroundImage = book_tickets_bg_ns"#}
{#                         @mousedown="$el.style.backgroundImage = book_tickets_bg_pressed"#}
{#                         @mouseup="$el.style.backgroundImage = book_tickets_bg_hover; window.location = '{{ url_for("auth.signup") }}'"#}
{#                    ></div>#}
{#                </div>#}


{#                <div class="display-flex flex-col align-items-center py-3">#}
{#                    <p style="margin: 0; color: white; text-align: center"><strong>SHARE</strong></p>#}
{#                    <div class="display-flex align-items-center justify-center gap-1" style="margin-bottom: 1rem;">#}
{#                        <img src="{{ url_for("frontend.2023.static", filename="img/twitter.png") }}"#}
{#                             alt="Twitter Icon">#}
{#                        <img src="{{ url_for("frontend.2023.static", filename="img/facebook.png") }}"#}
{#                             alt="Facebook Icon">#}
{#                    </div>#}
{#                    <div class="book-tickets"#}
{#                         x-init="$el.style.backgroundImage = book_tickets_bg_ns"#}
{#                         @mouseenter="$el.style.backgroundImage = book_tickets_bg_hover"#}
{#                         @mouseleave="$el.style.backgroundImage = book_tickets_bg_ns"#}
{#                         @mousedown="$el.style.backgroundImage = book_tickets_bg_pressed"#}
{#                         @mouseup="$el.style.backgroundImage = book_tickets_bg_hover; window.location = '{{ url_for("auth.signup") }}'"#}
{#                    ></div>#}
{#                </div>#}

{# OLD BOOK TICKETS GRAPHIC #}