{% extends '2023/extends/base.html' %}
{% block head %}
    <title>FlaskCon | Become a Sponsor</title>
{% endblock %}


{% block hero_header %}
    <div class="grass-background text-center w-100 py-1">
        <a href="/"><img src="{{ url_for('frontend.2023.static', filename='img/flaskcon-animated.gif') }}"
                         alt="FlaskCon Logo" style="height: 80px"></a>
    </div>
{% endblock %}


{% block body %}

    <section class="bg-section-white a-fix">

        <div class="row p-2">

            <h1 class="my-0">Become Our Sponsor</h1>


            <p>&nbsp;</p>

            <p>
                FlaskCon is a conference for Flask users.
                Our mission is to improve the Flask community and ecosystem
                that you use daily.
                This work can’t be done without the
                generous financial support that organizations
                like yours provide.
            </p>
            <p>
                The <a href="https://flaskcwg.github.io/">Flask Community Workgroup</a>
                has more initiatives to further the Flask ecosystem.
            </p>

            <p>
                An outstanding conference requires a significant budget and
                we look to companies in the Python and Open Source community
                to support this initiative.
            </p>


            <p>
                There are dozens of reasons your company may be eager
                to contribute. Here are a few:
            </p>


            <ul>
                <li>
                    Recruiting new talent ranging from to intermediate-senior
                    Python developers and engineers, Open source
                    Maintainers and Community builders, and university to
                    bootcamp graduates.
                </li>
                <li>
                    Building brand awareness and relationships in the
                    Python and Open Source community.
                </li>
                <li>
                    Supporting professional development for your
                    technical and non-technical teams.
                </li>
                <li>
                    Supporting the development of Python language and Open Source
                    community, which is largely run and
                    maintained by volunteers around the globe.
                </li>
                <li>
                    The conference program is usually focused on helping new
                    speakers present new python topics, or
                    speaking for the first time.
                    You can also view our previously recorded talks on Youtube
                    <a href="https://www.youtube.com/@FlaskCon">
                        https://www.youtube.com/@FlaskCon</a>
                </li>
                <li>
                    This helps us lay ground for the next upcoming in-person event in the US.
                </li>
            </ul>


            <p>

            </p>
            <p>
                The Pallets is a subsidiary of the Python Software Foundation,
                which is a 501(c)(3) non-profit.
                <br><br>
                Most sponsors fund this sponsorship either out of their marketing
                budget or recruiting budget, depending on
                their goals for sponsorship, and all of our events have
                a legal tax-deductible status, so you may be
                eligible to receive a tax-deductible.
                <br><br>


                <br><br>
                This is our fist time including sponsors.
                <br>

            <h2>Levels</h2>

            <table>
                <thead>
                <th>

                </th>
                <th>
                    Platinum ($1500)
                </th>
                <th>
                    Gold ($1000)
                </th>
                <th>
                    Silver ($500)
                </th>
                <th>
                    Bronze ($100)
                </th>
                </thead>
                <tbody>
                <tr>
                    <td><b>Branding (remote)</b></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>Logo on Website and Press Releases: You will receive a short
                        description and featured company logo on the Website and
                        Newsletter. Logo image sizes are adjusted by Sponsorship Tier.
                    </td>
                    <td>✓</td>
                    <td>✓</td>
                    <td>✓</td>
                    <td>✓</td>
                </tr>
                <tr>
                    <td>Logo on Intermission Video: Your Sponsor Logo will be shown on all
                        Intermission videos.
                    </td>
                    <td>✓</td>
                    <td>✓</td>
                    <td>✓</td>
                    <td></td>
                </tr>
                <tr>
                    <td>Logo on videos and screen recordings during sessions: Your Sponsor
                        Logo will be shown in a banner on all Live talks and Screen recordings
                        during sessions and on the Closing Videos.
                    </td>
                    <td>✓</td>
                    <td>✓</td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>Branded Swag Item: Your logo printed on one swag item that will
                        ship as part of our Speaker Kit.
                    </td>
                    <td>✓</td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                </tbody>
            </table>

            <ul>


            </ul>

            <h3>GET IN TOUCH</h3>
            <p>
                Reach out to <a href="mailto:david@palletsprojects.com">
                david@palletsprojects.com</a> if you're interested in
                sponsoring.
                <br><br>
                The Pallets is a direct project of the Python Software
                Foundation (“the PSF”). In addition to tax deductibility
                as a marketing expense for our sponsors, any applicable
                benefits of the PSF’s 501(c)3 designation from the IRS
                also may apply. Determination letter from the IRS
                designating the PSF as a charitable organization available
                from the PSF website.
            </p>
        </div>

    </section>

    <div class="beach-fade mt-10"></div>

{% endblock %}