{% extends '2023/extends/base.html' %}


{% set conference = ctp_conference(2023) %}


{% block hero_header %}

    <header class="hero">

        <div class="display-desktop">
            <section class="display-flex space-evenly align-items-center py-2">
                <img src="{{ url_for('frontend.2023.static', filename='img/flaskcon-animated.gif') }}"
                     alt="FlaskCon Logo">

                <div style="text-align: center">
                    <h1 style="font-size: 4rem; color: white; text-shadow: 0 0 10px rgba(0,0,0,0.5);" class="my-0">
                        Online
                    </h1>
                    <h1 style="font-size: 4rem; color: white; text-shadow: 0 0 10px rgba(0,0,0,0.5);" class="my-0">
                        {{ conference.conference_start_date|day_month|replace(" Dec", "") }}
                        - {{ conference.conference_end_date|day_month }}
                    </h1>
                    {% if session["logged_in"] %}
                        <a href="{{ url_for('account.index') }}"
                           class="button button-primary my-1 border-white-1">
                            go to your account
                        </a>
                    {% else %}
                        <a href="{{ url_for('auth.signup') }}"
                           class="button button-primary my-1 border-white-1">Signup to join in!</a>
                        <br/>
                        <a href="{{ url_for('auth.login') }}" style="color: #1e1e1e">Or login here</a>
                    {% endif %}
                </div>


            </section>

        </div>

        <div class="display-mobile">
            <section class="display-flex flex-col space-evenly align-items-center py-2">
                <img src="{{ url_for('frontend.2023.static', filename='img/flaskcon-animated.gif') }}"
                     alt="FlaskCon Logo">

                <div style="text-align: center">

                    <div class="my-2">
                        <h1 style="font-size: 4rem; color: white; text-shadow: 0 0 10px rgba(0,0,0,0.5);" class="my-0">
                            Online
                        </h1>
                        <h1 style="font-size: 4rem; color: white; text-shadow: 0 0 10px rgba(0,0,0,0.5);" class="my-0">
                            {{ conference.conference_start_date|day_month|replace(" Dec", "") }}
                            - {{ conference.conference_end_date|day_month }}
                        </h1>
                    </div>

                    {% if session["logged_in"] %}
                        <a href="{{ url_for('account.index') }}" class="button button-primary my-1">go to your
                            account</a>
                    {% else %}
                        <a href="{{ url_for('auth.signup') }}" class="button button-primary my-1">Signup to join in!</a>
                        <br/>
                        <a href="{{ url_for('auth.login') }}" style="color: #1e1e1e">Or login here</a>
                    {% endif %}

                </div>

            </section>
        </div>

        <div class="container sponsors">

            <h2 style="font-size: 3rem; color: white; text-shadow: 0 0 10px rgba(0,0,0,0.5);">Sponsored by</h2>

            <div class="sponsor">
                <a href="https://testdriven.io/">
                    <img src="{{ url_for('frontend.2023.static', filename='img/testdrivenio.png') }}"
                         alt="TestDriven.io Logo">
                </a>
            </div>
        </div>

        <div class="container m-all-0 p-all-0">
            <div class="workshop-park">
                <h2>Workshops</h2>
                <div class="workshops">
                    <div class="workshop">
                        <img src="{{ url_for('frontend.2023.static', filename='img/workshop.gif') }}"
                             alt="Workshop sprite">
                        <div>
                            <h5>Friday 15th - 11:00 UTC</h5>
                            <h3>HTMX and Tailwind</h3>
                            <h4>Jose Salvatierra</h4>
                        </div>
                    </div>
                    <div class="workshop">
                        <img src="{{ url_for('frontend.2023.static', filename='img/workshop.gif') }}"
                             alt="Workshop sprite">
                        <div>
                            <h5>Friday 15th - 17:00 UTC</h5>
                            <h3>Containerization 101 with Docker and Flask</h3>
                            <h4>Pamela Fox</h4>
                        </div>
                    </div>
                    <div class="workshop">
                        <img src="{{ url_for('frontend.2023.static', filename='img/workshop.gif') }}"
                             alt="Workshop sprite">
                        <div>
                            <h5>Saturday 16th - 13:00 UTC</h5>
                            <h3>Learn Flask the hard way: Introduce Architecture Patterns</h3>
                            <h4>Shahriyar Rzayev</h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </header>




{% endblock %}


{% block body %}

    <section class="container talks" style="margin-bottom: 4rem;">

        <div class="port">
            <h2>Talks</h2>
            <div class="port-bottom"></div>
        </div>


        {% set boats = ['img/green-boat.gif', 'img/yellow-boat.gif', 'img/red-boat.gif'] %}

        {% for talk in talks %}

            <div class="talk">
                <div class="island">
                    <div>
                        <h5>{{ talk.time }}</h5>
                        <h2>{{ talk.title }}</h2>
                    </div>

                    {% if not loop.index % 2 %}
                        <img src="{{ url_for('frontend.2023.static', filename="img/palm-tree.gif") }}"
                             alt="Tree sprite"
                             style="display: inline-block; width: 31px; height: 28px; padding-right: 1rem;">
                    {% endif %}

                </div>
                <div class="{% if loop.index % 2 %}talk-speaker-r{% else %}talk-speaker-rr{% endif %}">
                    <div class="dock">
                        <p>{{ talk.speaker }}</p>
                    </div>
                    <img src="{{ url_for('frontend.2023.static', filename=boats|random) }}"
                         alt="Boat sprite" style="width: 62px; height: 62px">
                </div>
            </div>

        {% endfor %}
    </section>

    <section class="" style="padding-top: 6rem; padding-bottom: 6rem; margin-bottom: 4rem;">

        <div class="row p-2 island">

            <div class="six columns py-2 text-center">
                <img src="{{ url_for('frontend.2023.static', filename='img/megaphone.gif') }}" alt="Megaphone Icon">
                <h2 class="my-0">Call for Proposals!</h2>

                <p>Submit your talk proposal for FlaskCon 2023! </p>
                {% if conference.call_for_proposals_end_date|is_cfp_live %}

                    {% set days_left = conference.call_for_proposals_end_date|days_until_cfp_ends %}

                    {% if days_left == 0 %}

                        <h2 class="my-0">Last day to submit!</h2>

                    {% else %}

                        <h2 class="my-0">Only <span>{{ days_left }}</span>
                            {% if days_left > 1 %}days{% else %}day{% endif %}
                            left to submit!</h2>

                    {% endif %}

                    {% if session["logged_in"] %}

                        <a href="{{ url_for('account.proposals') }}"
                           class="button button-primary my-1 border-white-1">Pproposals</a>

                    {% else %}
                        <a href="{{ url_for('auth.signup') }}"
                           class="button button-primary my-1 border-white-1">Signup to submit!</a>
                    {% endif %}

                    <p>Submissions close {{ conference.call_for_proposals_end_date|day_month }}</p>

                {% else %}

                    <h3 class="my-0">The call for proposals has now ended.</h3>

                {% endif %}
            </div>

            <div class="six columns py-2 text-center">

                <img src="{{ url_for('frontend.2023.static', filename='img/heart.gif') }}" alt="Heart Icon">
                <h2 class="my-0">Become a Sponsor, or Donate!</h2>
                <p>Support the team behind Flask <3</p>

                <a href="{{ url_for('frontend.2023.become_sponsor') }}"
                   target="_blank" class="button button-primary border-white-1">Sponsor!</a>

                <a href="https://psfmember.org/civicrm/contribute/transact/?reset=1&id=20"
                   target="_blank" class="button button-primary border-white-1">Donate!</a>

            </div>

        </div>

    </section>

    <div class="beach-fade mt-10"></div>

    {% include '2023/includes/media_partners.html' %}



    {#    {% include '2023/includes/reviewers.html' %}#}
    {#    {% include '2023/includes/staff.html' %}#}


{% endblock %}