{% extends '2023/extends/base.html' %}

{% block head %}
    <title>FlaskCon 2023</title>
{% endblock %}


{% set conference = ctp_conference(2023) %}


{% block hero_header %}

    <header class="hero py-2">

        <div class="display-desktop">
            <section class="display-flex space-evenly align-items-center py-2">
                <img src="{{ url_for("frontend.2023.static", filename="img/flaskcon-animated.gif") }}"
                     alt="FlaskCon Logo">

                <div>
                    {{ conference.conference_start_date|day_month }}
                    {{ conference.conference_end_date|day_month }}
                </div>
            </section>
        </div>

        <div class="display-mobile">
            <section class="display-flex flex-col space-evenly align-items-center py-2">
                <img src="{{ url_for("frontend.2023.static", filename="img/flaskcon-animated.gif") }}"
                     alt="FlaskCon Logo">

                <div>
                    {{ conference.conference_start_date|day_month }}
                    {{ conference.conference_end_date|day_month }}
                </div>
            </section>
        </div>

    </header>


{% endblock %}


{% block body %}

    <section
            class="display-flex flex-col space-evenly align-items-center py-2"
            style="padding-top: 6rem; padding-bottom: 6rem;">

        <img src="{{ url_for("frontend.2023.static", filename="img/megaphone.gif") }}" alt="Megaphone Icon">
        <h2 class="my-0">Call for Proposals!</h2>

        <p>Submit your talk proposal for FlaskCon 2023! </p>
        {% if conference.call_for_proposals_end_date|is_cfp_live %}
            <a href="{{ url_for('auth.signup') }}" class="button button-primary">Signup to submit!</a>
        {% else %}

        {% endif %}

        <p>{{ conference.call_for_proposals_end_date|days_until_cfp_ends }}</p>

    </section>

    {#     REMOVE SECTION ONCE MORE CONTENT     #}
    {#    <div class="sub-hero py-3">#}
    {#        <section>#}
    {#            <div class="row">#}
    {#                <div class="six columns py-2 text-center">#}
    {#                    <img src="{{ url_for("frontend.2023.static", filename="img/megaphone.gif") }}" alt="Megaphone Icon">#}
    {#                    <h2 class="my-0">Call for Proposals!</h2>#}
    {#                    <p>Submit your talk proposal for FlaskCon 2023! </p>#}
    {#                    <a href="{{ url_for('auth.signup') }}" class="button button-primary">Signup to submit!</a>#}
    {#                </div>#}
    {#                <div class="six columns py-2 text-center">#}
    {#                    <img src="{{ url_for("frontend.2023.static", filename="img/heart.gif") }}" alt="Heart Icon">#}
    {#                    <h2 class="my-0">Become a Sponsor!</h2>#}
    {#                    <p>Support the Pallets team + the Python Software Foundation and let everyone know about it!</p>#}
    {#                    <a href="{{ url_for('auth.signup') }}" class="button button-primary">Signup to become a sponsor!</a>#}
    {#                </div>#}
    {#            </div>#}
    {#        </section>#}
    {#    </div>#}
    {##}
    {#    <div class="sub-hero-color-shift-away">#}
    {##}
    {#    </div>#}

    {#    {% include '2023/includes/reviewers.html' %}#}
    {#    {% include '2023/includes/staff.html' %}#}
    {#    {% include '2023/includes/media_partners.html' %}#}

{% endblock %}