<!doctype html>

<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Main</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='skeleton.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='flaskcon.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='spacing.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='typography.css') }}">
    <script defer src="{{ url_for('static', filename='alpinejs.3.13.0.js') }}"></script>
</head>

<body>

<div class="fc-container">

    <aside>
        <div class="accountlet">
            <img width="200"
                 src="{{ url_for('static', filename='display-pictures/' + ctp_display_picture(session.get('unique_display_picture_id', 1))) }}"
                 alt="">
            <div>{{ ctp_account_email_address(session.get('account_id')).split('@')[0] }}</div>
            <div><a href="{{ url_for('auth.logout') }}">Logout</a></div>
        </div>

        <nav class="side-nav">
            <ul>
                <li><a href="{{ url_for('account.index') }}"
                       {% if 'account' in request.url %}class="selected"{% endif %}>
                    Your Account</a></li>
                <li><a href="#">
                    Your Talks</a></li>
                <li><a href="#">
                    Become a Sponsor</a></li>
                <li><a href="#">
                    Volunteer</a></li>
                <li><a href="#">
                    Donate <3</a></li>
            </ul>
        </nav>

        <div class="product-info">

        </div>

    </aside>

    <section class="content">
        <header>
            <nav class="top-nav">
                <div>
                    {% block breadcrumbs %}{% endblock %}
                </div>
                <div>
                    <img width="100px" src="{{ url_for('static', filename='flaskcon-logo.svg') }}" alt="">
                </div>
            </nav>
        </header>

        <section>
            <div class="center-content">
                {% block content %}

                {% endblock %}
            </div>
        </section>
    </section>

</div>

{% block js %}
{% endblock %}
</body>

</html>
