<!doctype html>

<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}{% endblock %} | FlaskCon</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='skeleton.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='flaskcon.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='typography.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='spacing.css') }}">
    <script defer src="{{ url_for('static', filename='alpinejs.3.13.0.js') }}"></script>

    {% set __account__ = ctp_account(session.get('account_id')) %}

</head>

<body>
<a id="top"></a>

<div class="fc-container">

    <aside>
        <div class="accountlet">
            <img width="200"
                 src="{{ url_for('static', filename='display-pictures/' + ctp_display_picture(session.get('unique_display_picture_id', 1))) }}"
                 alt="">
            <div>{{ __account__.rel_profile[0].name_or_alias or __account__.email_address.split('@')[0] }}</div>
            <div><a href="{{ url_for('account.settings') }}">Settings</a></div>
            <div><a href="{{ url_for('auth.logout') }}">Logout</a></div>
        </div>

        <nav class="side-nav">
            <ul>
                <li><a href="{{ url_for('account.dashboard') }}"
                       {% if 'dashboard' in request.url %}class="selected"{% endif %}>
                    Dashboard</a></li>
                <li><a href="{{ url_for('account.profile') }}"
                       {% if 'profile' in request.url %}class="selected"{% endif %}>
                    Your Profile</a></li>
                <li><a href="{{ url_for('account.talks') }}"
                       {% if 'talk' in request.url %}class="selected"{% endif %}>
                    Your Talks</a></li>
                {#                <li><a href="#">#}
                {#                    Become a Sponsor</a></li>#}
                {#                <li><a href="#">#}
                {#                    Volunteer</a></li>#}
                {#                <li><a href="#">#}
                {#                    Donate <3</a></li>#}
            </ul>
        </nav>

        <div class="product-info">

        </div>

    </aside>

    <div class="dummy-side-nav">

    </div>

    <section class="content">
        <header>
            <nav class="top-nav">
                <div>
                    {% block breadcrumbs %}{% endblock %}
                </div>
                <div>
                    <img width="100px" src="{{ url_for('static', filename='flaskcon-logo.svg') }}" alt="">
                </div>
            </nav>
        </header>

        <section>
            <div class="center-content">
                {% block content %}

                {% endblock %}
            </div>
        </section>
    </section>

</div>

{% block js %}
{% endblock %}
</body>

</html>
