<!doctype html>

<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}{% endblock %} | FlaskCon</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='skeleton.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='flaskcon.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='typography.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='spacing.css') }}">
    <script defer src="{{ url_for('static', filename='alpinejs.3.13.0.js') }}"></script>

    {% set __account__ = ctp_account(session.get('account_id')) %}
    {% set __roles__ =  ctp_comprehend_roles(__account__.rel_roles) %}

</head>

<body x-data>
<a id="top"></a>


{% if get_flashed_messages() %}
    <div class="flash-message" @click="$el.remove()">
        {% for message in get_flashed_messages() %}
            <div class="flash-message-item">{{ message }}</div>
        {% endfor %}
        <small>click to close</small>
    </div>
{% endif %}


<div class="fc-container">

    <aside>
        <div class="accountlet">
            <img width="200"
                 src="{{ url_for('static', filename='display-pictures/' + ctp_display_picture(session.get('unique_display_picture_id', 1))) }}"
                 alt="">
            <p>{{ __account__.rel_profile.name_or_alias or __account__.email_address.split('@')[0] }}</p>
            <div><a href="{{ url_for('account.settings') }}">Settings</a></div>
            <div><a href="{{ url_for('auth.logout') }}">Logout</a></div>
        </div>

        <nav class="side-nav">

            <ul>
                {% if "Attendee" in __roles__ %}
                    <li><a href="{{ url_for('account.update_feed') }}"
                           {% if 'account/update-feed' in request.url %}class="selected"{% endif %}>
                        Update Feed</a></li>
                {% endif %}
                <li><a href="{{ url_for('account.profile') }}"
                       {% if 'account/profile' in request.url %}class="selected"{% endif %}>
                    Your Profile</a></li>
                {% if "Attendee" in __roles__ %}
                    <li><a href="{{ url_for('account.talks') }}"
                           {% if 'account/talk' in request.url %}class="selected"{% endif %}>
                        Your Talks</a></li>
                {% endif %}
            </ul>

            {% if "Proposal Reviewer" in __roles__ %}
                <p class="m-up-1"><strong>Proposals</strong></p>
                <ul>
                    <li><a href="{{ url_for('proposals.dashboard') }}"
                           {% if 'proposals/dashboard' in request.url %}class="selected"{% endif %}>
                        Dashboard</a></li>
                    <li><a href="{{ url_for('proposals.review') }}"
                           {% if 'proposals/review' in request.url %}class="selected"{% endif %}>
                        Review</a></li>
                </ul>
            {% endif %}


            {% if "Super Administrator" in __roles__ or "Administrator" in __roles__ %}
                <p class="m-up-1"><strong>System</strong></p>
                <ul>
                    <li><a href="{{ url_for('system.dashboard') }}"
                           {% if 'system/dashboard' in request.url %}class="selected"{% endif %}>
                        Dashboard</a></li>
                    <li><a href="{{ url_for('system.accounts') }}"
                           {% if 'system/accounts' in request.url %}class="selected"{% endif %}>
                        Account Management</a></li>
                </ul>
            {% endif %}

        </nav>

        <div class="product-info">

        </div>

    </aside>

    <div class="dummy-side-nav">

    </div>

    <section class="content">
        <header>
            <nav class="top-nav">
                <div>
                    {% block breadcrumbs %}{% endblock %}
                </div>
                <div>
                    <img width="100px" src="{{ url_for('static', filename='flaskcon-logo.svg') }}" alt="">
                </div>
            </nav>
        </header>

        <section>
            <div class="center-content">
                {% block content %}

                {% endblock %}
            </div>
        </section>
    </section>

</div>

{% block js %}
{% endblock %}
</body>

</html>
